<% content_for :title, "New project" %>

<div class="md:w-2/3 w-full mx-auto p-6 my-8 bg-white rounded-lg shadow-lg space-y-6">
  <div class="flex items-center justify-between border-b pb-4">
    <img src=<%= asset_path("logo-transparent.png") %> alt="Baytak Logo" class="w-12 h-12">
    <h2 class="text-2xl font-bold text-gray-800">New Project</h2>
  </div>

  <%= render "form", project: @project %>

  <div class="flex flex-col sm:flex-row gap-4 pt-4">
    <%= link_to "Back to projects", projects_path, class: "w-full sm:w-auto text-center rounded-md px-4 py-2 bg-gray-100 hover:bg-gray-200 transition duration-300 ease-in-out font-medium" %>
  </div>
</div>
